@font-face {
  font-family: "Inconsolata-Regular";
  src: url("./src/assets/fonts/inconsolata/static/Inconsolata-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inconsolata-Bold";
  src: url("./src/assets/fonts/inconsolata/static/Inconsolata-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("./src/assets/fonts/inter/static/Inter-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("./src/assets/fonts/inter/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lora-Regular";
  src: url("./src/assets/fonts/lora/static/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora-Bold";
  src: url("./src/assets/fonts/lora/static/Lora-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lora-BoldItalic";
  src: url("./src/assets/fonts/lora/static/Lora-BoldItalic.ttf")
    format("truetype");
}
