@layer {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
    margin-top: 58px;
  }

  .theme {
    display: inline-flex;
    gap: 18px;
  }
}

.line {
  border-left: 1px solid var(--grey-200);
  height: 32px;
  margin: 0 26px;
}

.font {
  border: none;
  background: none;
  font-size: 18px;
  line-height: 24px;
}

.font::after {
  content: url("./src/assets/images/icon-arrow-down.svg");
  margin-left: 18px;
}

.font.sans-serif {
  font-family: "Inter-Bold";
}

.font.serif {
  font-family: "Lora-Bold";
}

.font.mono {
  font-family: "Inconsolata-Bold";
}
