.searchbar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 16px;
  padding: 20px 24px;
  background: var(--bg-color-secondary);
  margin-top: 51.5px;
}

.searchbar input {
  width: 100%;
  caret-color: var(--accent-color);
  font-size: 20px;
  line-height: normal;
  font-weight: 700;
}

