@layer {
  .select {
    position: relative;
    cursor: pointer;

    .sans-serif {
      font-family: var(--sans-serif-bold);
    }

    .serif {
      font-family: var(--serif-bold);
    }

    .mono {
      font-family: var(--mono-bold);
    }
  }

  .selected-font {
    display: flex;
    gap: 18px;
  }

  .dropdown {
    list-style-type: none;
    background: var(--FFFFFF);
    width: 183px;
    height: auto;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 40px;
    right: 0;
  }

  .dropdown li {
    font-size: 18px;
    line-height: 24px;
  }

  .dropdown li:hover {
    color: var(--accent-color);
  }
}
