@import "./styles/fonts.css";

:root {
  --FF5252: hsl(0 100% 66%);
  --A445ED: hsl(274 82% 60%);
  --FFFFFF: hsl(0 0% 100%);
  --F4F4F4: hsl(0 0% 96%);
  --E9E9E9: hsl(0 0% 91%);
  --757575: hsl(0 0% 51%);
  --3A3A3A: hsl(0 0% 23%);
  --2D2D2D: hsl(0 0% 18%);
  --1F1F1F: hsl(0 0% 12%);
  --050505: hsl(0 0% 2%);

  --sans-serif: "Inter-Regular";
  --sans-serif-bold: "Inter-Bold";
  --serif: "Lora-Regular";
  --serif-bold: "Lora-Bold";
  --mono: "Inconsolata-Regular";
  --mono-bold: "Inconsolata-Bold";
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

  input {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }
}

@layer base {
  #root {
    --bg-color: var(--FFFFFF);
    --bg-color-secondary: var(--F4F4F4);
    --ft-color: var(--2D2D2D);
    --accent-color: var(--A445ED);
    --font: var(--sans-serif);
    --font-bold: var(--sans-serif-bold);

    background: var(--bg-color);
    font-family: var(--font);
    width: 100vw;
    height: 100vh;
  }

  #root.dark {
    --bg-color: var(--050505);
    --bg-color-secondary: var(--1F1F1F);
    --ft-color: var(--FFFFFF);
  }

  #root.sans-serif {
    --font: var(--sans-serif);
    --font-bold: var(--sans-serif-bold);
  }

  #root.serif {
    --font: var(--serif);
    --font-bold: var(--serif-bold);
  }

  #root.mono {
    --font: var(--mono);
    --font-bold: var(--mono-bold);
  }

  h1,
  h3 {
    font-family: var(--font-bold);
  }

  h2,
  li::marker {
    color: var(--accent-color);
  }

  h3 {
    font-style: italic;
  }

  p,
  input {
    color: var(--ft-color);
  }

  input {
    font-family: var(--font-bold);
  }
}
